.input-group-text {
    background-color:blue;
    color:orange;
    font-weight: bold;
}

.dbQuery {
    border-collapse: collapse;
    display:block;
    overflow:auto;
}

.dbQuery-header {
    background-color: #ddd;
    border:1px solid;
}

.dbQuery-data {
    border:1px solid;
}
